<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.css">
<script src="bootstrap-4.4.1-dist/jquery-3.0.0.min.js"></script>
<script src="bootstrap-4.4.1-dist/popper.min.js"></script>
<script src="bootstrap-4.4.1-dist/js/bootstrap.js"></script>
<link rel="icon" href="../favicon.ico">
</head>
<body>

	<nav class="navbar navbar-expand-lg  bg-danger" >
		<a class="navbar-brand" href="#">志愿服务</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
			  <a class="nav-link text-white" href="/index">首页 <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link text-white" href="/activity">志愿活动</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link text-white" href="/volorganic">志愿活动组织</a>
			</li>
			 <li class="nav-item">
			  <a class="nav-link text-white" href="/applyActivity">活动报名信息</a>
			</li>
			 <li class="nav-item">
			  <a class="nav-link text-white" href="/userActivity">个人活动报名信息</a>
			</li>
		   
		  </ul>
		  <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		  </form>
		  <div class="form-inline my-2 my-lg-0">
		  <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 
		  <li class="nav-item">
			  <a class="nav-link text-white " href="/loginhtml" ,tabindex="-1" aria-disabled="true">登陆</a>
			</li>
		   
			 <li class="nav-item">
			  <a class="nav-link text-white" href="/reghtml" tabindex="-1" aria-disabled="true">注册</a>
			</li>
			</ul>
		  
		  </div>
		  
		</div>
  
				  
	  </nav>
	  

	
			
				<div class="card-header">所有活动列表</div>
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th scope="col">序号</th>
							<th scope="col">活动序号</th>
							<th scope="col">活动名</th>
							<th scope="col">活动内容</th>
							<th scope="col">主办方</th>
							<th scope="col">报名开始时间</th>
							<th scope="col">报名结束时间</th>
							<th scope="col">举办时间</th>
							<th scope="col">活动地址</th>
							<th scope="col">余量</th>
							<th scope="col">报名</th>
						</tr>
					</thead>
					<tbody>
				
						<tbody>
							<% for( var i =0;i<info.length;i++){%>
							  <tr>
								<td><%=i+1%></td>
								<td><%=info[i].id%></td>
								<td><%=info[i].name%></td>
								<td><%=info[i].content%></td>
								<td><%=info[i].starttime%></td>
								<td><%=info[i].endtime%></td>
								<td><%=info[i].time%></td>
								<td><%=info[i].address%></td>
								<td><%=info[i].capcity%></td>
								<td><%=info[i].host%></td>
								<td><a type="button" class="btn btn-primary" href="/applyuser">报名</a></td>
							  </tr>
							  <% } %>
							
						  </tbody>
						
						
						
					
						
						
						 
						
					</tbody>
				</table>

				

</body>
</html>